body {
  margin: 0;
  padding: 0;
  background-attachment: fixed;
}
header {
  position: relative;
  width: 100%;
  min-width: 1200px;
  height: 400px;
}
header .bg {
  min-width: 1200px;
  width: 100%;
  height: 400px;
  position: absolute;
  background-image: url(img/header-bg4.jpg);
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center center;
  z-index: -1;
}
header .title {
  font-size: 60px;
  color: #fff;
  position: absolute;
  top: 30%;
  left: 20%;
}
header .time {
  position: absolute;
  color: #fff;
  top: 50%;
  font-size: 26px;
  left: 30%;
}
header .logo {
  position: absolute;
  top: 30px;
  left: 30px;
}
header .logo img {
  width: 150px;
}
main {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  color: #333;
  width: 1200px;
  min-height: 1000px;
  margin: 0 auto;
}
main h1 {
  line-height: 100px;
  text-align: center;
  font-size: 28px;
  margin: 0;
}
main .days {
  box-shadow: 5px 5px 10px #999;
  margin-bottom: 50px;
  border-radius: 10px;
  overflow: hidden;
}
main .days .title {
  background: linear-gradient(90deg, #4AACC5, #31C2C7, #46D5BA);
  font-size: 20px;
  color: #fff;
  text-align: center;
  height: 60px;
  line-height: 60px;
}
main .days .content {
  text-align: center;
  font-size: 20px;
  padding: 20px 20px;
}
main .days .content table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 10px;
}
main .days .content table tr {
  height: 35px;
}
main .days .content table th,
main .days .content table td {
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: 20px;
}
main .days .content table .char {
  background: linear-gradient(90deg, #945490, #F9F871);
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-position: bottom;
}
main .days .content table .char td {
  font-size: 18px;
}
main .days .content table .relax {
  border-bottom: #fff 10px solid;
  color: #70DB93;
}
main .days .content table tr:not(.char):not(.relax) td:nth-child(4) {
  border-left: rgba(224, 224, 224, 0.4) 2px solid;
  text-align: center;
}
