body {
  margin: 0;
  padding: 0;
}
header {
  position: relative;
  width: 100%;
  min-width: 1200px;
  height: 450px;
}
header .bg {
  min-width: 1200px;
  width: 100%;
  height: 450px;
  position: absolute;
  background-image: url(img/header-bg4.jpg);
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center center;
  z-index: -1;
  filter: blur(1px);
}
header .title {
  font-size: 60px;
  color: #fff;
  position: absolute;
  top: 30%;
  left: 20%;
}
header .time {
  position: absolute;
  color: #fff;
  top: 50%;
  font-size: 26px;
  left: 30%;
}
header .logo {
  position: absolute;
  top: 30px;
  left: 30px;
}
header .logo img {
  width: 150px;
}
main {
  width: 1200px;
  min-height: 1000px;
  margin: 0 auto;
  background-color: rgba(224, 224, 224, 0.2);
}
main h1 {
  text-align: center;
  margin: 5px 0;
  font-size: 28px;
}
main .days .title {
  background-color: #4aacc5;
  font-size: 20px;
  color: #fff;
  text-align: center;
  height: 60px;
  line-height: 60px;
}
main .days .content {
  text-align: center;
  font-size: 22px;
}
main .days .content table {
  width: 100%;
  text-align: center;
}
main .days .content table th,
main .days .content table td {
  text-align: left;
  height: 40px;
  line-height: 40px;
  padding: 0;
}
main .days .content table td {
  font-size: 20px;
}
main .days .content table .char {
  background-color: lightyellow;
}
main .days .content table .relax {
  background-color: #c5e0b3;
}
