<nav class="navbar navbar-expand-md  navbar-dark fixed-top " style="background-color: rgb(39, 118, 180);">
    <div class="container">

        <!-- logo -->
        <a class="navbar-brand align-text-center float-md-start fw-bold" href="#">
            <img src="/img/logo.png" alt="" height="55" class="d-inline-block">
            Snpyga
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse float-md-end flex-grow-0 " id="navbarCollapse">
            <ul class="navbar-nav  me-auto mb-2 mb-md-0 " style="text-align: center;">
                <li class="nav-item fw-bold index">
                    <a class="nav-link" aria-current="page" href="/index.html">
                        <span>首页</span>
                    </a>
                </li>
                <li class="nav-item fw-bold conference">
                    <a class="nav-link" href="/conference.html">
                        <span>论坛</span>
                    </a>
                </li>
                <li class="nav-item fw-bold report">
                    <a class="nav-link" href="/report.html">
                        <span>报告</span>
                    </a>
                </li>
                <li class="nav-item fw-bold">
                    <a class="nav-link disabled">
                        <span>联系</span>
                    </a>
                </li>
            </ul>
        </div>

</nav>
<div class="banner d-flex  flex-column align-content-center justify-content-center">
    <div class="container " style="font-family: Georgia,serif; color: #fefefe;">
        <h1 class="mb-4">“粤港澳”核物理论坛</h1>
        <h4 class="fst-italic">Symposium on Nuclear Physics in Guangdong-Hong Kong-Macao Area</h2>
    </div>
</div>